body {
  padding-top: 50px;
  padding-bottom: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel {
  margin-bottom: 1em;
}

.jumbotron {
  background-image: url('../img/penny-farthing.jpg');
  background-size: cover;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0 5px 15px rgba(0,0,0,0.85);
}